body {
	margin: 0;
	padding: 0;
}


/*////////////////////////////////////////////////////////////
**************************************************************
						VERSSION MOBILE 
**************************************************************
/////////////////////////////////////////////////////////////*/

h1 {
	font-size: 80px;
	margin-top: 55vh;
	line-height: 10px;
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: sans-serif;
}

h2 {
	font-size: 40px;
	line-height: 10px;
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: sans-serif;
}

h3 {
	padding-top: 10vh;
	margin-top: 12vh;
	text-align: center;
	font-size: 25px;
	color: white;
	font-family: sans-serif;
}

.h3_autres_pages {
	margin-top: 10vh;
	padding-top: 0;
}

h4 {
	color: white;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

p {
	color: white;
	font-family: sans-serif;
}

.img_background {
	border: 3px green solid;
	top: 0;
	position: fixed;
	background-image: url("img/img_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: -60vw;
	z-index: -10;
	width: 100vw;
	height: 100vh;
}

.filtre_img_background {
	position: fixed;
	top: 0;
	z-index: -9;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to bottom, transparent, black);
	
}

.buttons {
	border-radius: 50px;
	font-size: 15px;
	background-color: pink;
	color: rgb(114, 39, 114);
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	font-family: sans-serif;
}


/*---------------- Navbar -----------------------*/

#section_menu {
	position: fixed;
	display: flex;
	flex-direction: column;
	text-align: center;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background-color: rgba(77, 119, 203, 0.831);
	display: none;
	transition-duration: 5s;
	transition-property: transform;
}

#section_menu p {
	font-size: 20px;
}

#section_menu p:hover {
	color: rgb(255, 123, 233);
}

#menu_close {
	position: absolute;
	margin-left: 90vw;
	font-size: 55px;
	color: white;
	transform: rotate(45deg);
}

.home_button {
	margin-top: 20vh;
}

nav {
	border: 2px red solid;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	background-image: linear-gradient(to top, rgba(159, 60, 208, 0.735), transparent);
	
}

nav p {	
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-left: 15px;
	font-size: 25px;
}

nav span {
	border: 2px green solid;
	margin-right: 30px;
	height: 50px;
	padding: 0px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

nav span div {
	width: 30px;
	height: 5px;
	margin-top: 5px;
	background-color: rgb(245, 6, 193);
}








/*---------------- Footer -----------------------*/
footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
    background-image: linear-gradient(to bottom, rgba(183, 125, 207, 0.5), black);
}

footer a {
	color: white;
	font-size: 12px;
	margin-top: 10px;
}

footer p {
	font-size: 8px;
	margin-top: 20px;
}


/*/////////////////////////////////////////////////////////////////*/

							/* HOME PAGE */

/*////////////////////////////////////////////////////////////////*/



/*-------------------------- Hero ---------------------------------*/
.hero {
	border: 3px blue solid;
	width: 100vw;
	height: 100vh;
	background: url("img/karaoke_hero.jpg");
	background-repeat: no-repeat; 
	background-position: center;
	background-size: cover;
	background-position-x: -85vw;
}

.filtre_hero {
	z-index: 2;
	position: absolute;
	text-align: center;
	background-image: linear-gradient(to bottom, transparent, rgba(240, 126, 238, 0.721));
	border: 3px rgb(83, 5, 109) solid;
	width: 100vw;
	height: 100vh;
	top: 0;	
}



/*------- Choisisez votre catégorie / Choisisez votre play list --------*/
.categorie, .play_list {
	border: 2px yellow solid;
	text-align: center;
	width: 90vw;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 8vh;
	height: 88vh;
}

.categorie ul, .play_list ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.categorie ul li, .play_list ul li {
	border: 1px blue solid;
	width: 45%;
	height: 25vh;
	margin-bottom: 40px;
	text-align: center;
}

.categorie ul li p, .play_list ul li p {
	font-size: 15px;
	color: white;
	line-height: 10px;
}

.img_categorie, .img_play_list {
	border: 1px red solid;
	width: 100%;
	height: 80%;
}









/*---------------- Visitez notre établissement -----------------------*/
.visitez_etablissement {
	border: 2px yellow solid;
	width: 90vw;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 8vh;
}

.visitez_etablissement p {
	color: white;
}

.img_etablissement {
	border: 2px green solid;
	margin-bottom: 40px;
	border-radius: 5px;
	width: 100%;
	height: 250px;
	background-image: url("img/bar.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}









/*---------------- Contactez nous -----------------------*/
.contact {
	width: 90vw;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 8vh;
}

.contact p {
	margin-bottom: 70px;
}







/*/////////////////////////////////////////////////////////////////*/

						/* Choisisez votre catégorie */

/*////////////////////////////////////////////////////////////////*/

/*---------------- Choisisez votre categorie ------------------*/
.tableau_categories {
	border: 3px yellow solid;
	width: 90vw;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 30px;
}

.tableau_categories form {
	border: 2px green solid;
	background-color: rgba(0, 0, 0, 0.516);
	text-align: left;
	display: flex;
}

.recherche {
	font-size: 12px;
	padding: 4px;
	outline: none;
}

.chercher {
	padding: 5px;
	font-size: 14px;
	border: 0;
	outline: none;
	margin-left: -5px;
	background-color: rgb(167, 114, 223);
}

.tableau_categories ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.tableau_categories ul li {
	border: 1px blue solid;
	width: 45%;
	height: 25vh;
	margin-bottom: 40px;
	text-align: center;
}

.tableau_categories ul li p {
	font-size: 15px;
	color: white;
	line-height: 10px;
}













/*////////////////////////////////////////////////////////////
**************************************************************
						VERSSION TABLETTE
**************************************************************
/////////////////////////////////////////////////////////////*/








