<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Karaoke</title>
		<link rel="stylesheet" href="../public/assets/styles/style.css">
	</head>
	<body>
		<!--$$$$$$$$$$$$$$$$$$$$$$$  HERO $$$$$$$$$$$$$$$$$$$$$$$$$$$-->
		<section class="hero">
			<nav>
				<p>LOGO</p>
				<span class="plustexte"><img src="../public/assets/img/menu.png" width="100" style="margin-top:15px;"> </span>
			</nav>

			<h1>Karaoke App</h1>
			<h2>SOUS TITRE</h2>
<br><br>
			<a class="buttons" href="">Choisisez votre catégorie</a>
		</section>








		<!--$$$$$$$$$$$$$$$  Choisisez votre catégorie $$$$$$$$$$$$$$$$$$$$$-->
		<section class="img_background"></section>

		<h3>Choisisez votre catégorie</h3>
		<section class="categorie">
			<ul>
				<li>
					<img class="img_categorie" src="../public/assets/img/annees80.jpeg" alt="">
					<p>Années 80</p>
				</li>
				<li>
					<img class="img_categorie" src="../public/assets/img/musique_francise.jpeg" alt="">
					<p>Musique Française</p>
				</li>

				<li>
					<img class="img_categorie" src="../public/assets/img/jazz.jpeg" alt="">
					<p>Jazz</p>
				</li>
				<li>
					<img class="img_categorie" src="../public/assets/img/rap.jpg" alt="">
					<p>Rap</p>
				</li>

				<li>
					<img class="img_categorie" src="../public/assets/img/pop.jpeg" alt="">
					<p>Pop</p>
				</li>
				<li>
					<img class="img_categorie" src="../public/assets/img/rock.jpg" alt="">
					<p>Rock</p>
				</li>
			</ul>

			<a class="buttons" href="">VOIR / AJOUTER PLUS DE CATÉGORIES</a>
		</section>








		<!--$$$$$$$$$$$$$$$  Choisisez votre catégorie $$$$$$$$$$$$$$$$$$$$$-->
		<h3>Choisisez une play list</h3>
		<section class="play_list">
			<ul>
				<li>
					<img class="img_play_list" src="../public/assets/img/annees80.jpeg" alt="">
					<p>Années 80</p>
				</li>
				<li>
					<img class="img_play_list" src="../public/assets/img/musique_francise.jpeg" alt="">
					<p>Musique Française</p>
				</li>

				<li>
					<img class="img_play_list" src="../public/assets/img/jazz.jpeg" alt="">
					<p>Jazz</p>
				</li>
				<li>
					<img class="img_play_list" src="../public/assets/img/rap.jpg" alt="">
					<p>Rap</p>
				</li>

				<li>
					<img class="img_play_list" src="../public/assets/img/pop.jpeg" alt="">
					<p>Pop</p>
				</li>
				<li>
					<img class="img_play_list" src="../public/assets/img/rock.jpg" alt="">
					<p>Rock</p>
				</li>
			</ul>

			<a class="buttons" href="">VOIR / AJOUTER PLUS DE PLAY LISTS</a>
		</section>








		<!--$$$$$$$$$$$$$$$  Visitez notre établisement $$$$$$$$$$$$$$$$$$$$$-->
		<h3>Visitez notre établisement</h1>

		<section class="visitez_etablissement">
			<h4>Déscription</h4>
			<p>
				beaucoup de texte, beaucoup de texte, beaucoup de texte, beaucoup de texte, beaucoup de texte, beaucoup de texte, beaucoup de texte,
			</p>

			<div class="img_etablissement">
			</div>

			<a class="buttons" href="">VOIR ITINÉRAIRE</a>
		</section>








		<!--$$$$$$$$$$$$$$$$$$$$  Contactez nous $$$$$$$$$$$$$$$$$$$$$-->
		<h3>Contactez nous</h3>

		<section class="contact">
			<p>
				Voulez-vous en savoir plus sur notre établissement?
			</p>

			<a class="buttons" href="">Contactez-nous</a>
		</section>








		<!--$$$$$$$$$$$$$$$$$$$$  Footer $$$$$$$$$$$$$$$$$$$$$-->
		<footer>
			<a href="">FACEBOOK</a>
			<a href="">TWITTER</a>
			<a href="">INSTAGRAM</a>

			<p> © All rights reserved</p>
		</footer>

	</body>
</html>
